.box {
    @include flex-col(flex-start, center);
    @include media() {
        @include flex-col(flex-start, flex-start);
    }
    max-width: 590px;
    opacity: 0.9;
    &__description {
        &:not(:last-of-type){
            margin-bottom: 25px;
        }
        &:last-of-type{
            margin-bottom: 48px;
        }
        @include text($H16, 300, $FONT-COLOR);
        line-height: 1.6;
        text-align: justify;
        @include media() {
            text-align: left;
        }
    }
    &__subtitle {
        @include text($H20, 400, $FONT-COLOR);
        letter-spacing: 1.5px;
        margin-bottom: 30px;
    }
    &__title {
        @include text($H20, 300, $NAME-COLOR);
        font-family: $BASE-FONT;
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: normal;
    }
    &__quote {
        color: $DARKENBLUE;
    }
    &__button {
        width: 100%;
        @include media() {
            width: 260px;
        }
    }
}