.container {
    max-width: 1110px + 24px * 2;
    margin: 0 auto;
    flex-grow: 1;
    &--header {
        @include flex-col(flex-start, stretch);
        max-width: calc(100% - 24px * 2);
        min-width: calc(100% - 24px * 2);
    }
    &--panel-section {
        max-width: 975px + 24px * 2;
        margin: 0 auto;
    }
}