.footer {
    background-color: $FOOTER-COLOR;
    &__container {
        @include media() {
            padding: 120px 24px 50px;
        }
        padding: 60px 24px 25px;
        @include flex(center, center, column);
    }
    &__logo {
        margin-bottom: 15px;
        @include text($H24, 700, $WHITE);
        font-family: $BASE-FONT;
        text-transform: uppercase;
        letter-spacing: 5.76px;
        @include hover() {
            color: $DARKENBLUE;
        }
    }
    &__subtitle {
        @include text($H16, 400, $WHITE);
        font-family: $BASE-FONT;
        text-align: center;
        letter-spacing: 1.6px;
        margin-bottom: 30px;
    }
}