.form {
   @include flex(center, stretch, column);
   @include media() {
   @include flex(center, center, row);
   }
    margin-bottom: 50px;
    min-width: 100%;
    @include media() {
        margin-bottom: 120px;
        width: 650px;
    }
    &__input {
        display: inline;
        margin-bottom: 10px;
        border: none;
        outline: none;
        padding: 22px 30px;
        font-family: $BASE-FONT;
        @include placeholder{
           @include text($H14, 400, $P-HOLDER-COLOR);
            text-align: center;
            letter-spacing: normal;
           @include media($screen-iphone-plus) {
            letter-spacing: 2.8px;
                
           }
        }
        @include media() {
            width: 500px; 
            margin-bottom: 0;
            padding: 22px 110px;
        }
    }
    &__button {
        min-width: 100%;
        @include media() {
            min-width: 150px;
        }
        cursor: pointer;
        @include flex(center, center, row, nowrap);
        padding: 18px 16px 18px 35px;
        @include text($H14, 400, $WHITE);
        font-family: $SECONDARY-FONT;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        background-color: $BUTTON-COLOR;
        border: 2px solid $WHITE;
        transition: background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        @include hover() {
            background-color: lighten($BUTTON-COLOR, 5%);
        }
        &:active {
            background-color: darken($BUTTON-COLOR, 5%);
        }
    }
    &__button-image {
        margin-left: 10px;
    }
}