.nav {
    display: none;
    @include media($screen-tablet-large + 1px ) {
        display: block;
    }
    &__item {
        display: inline;
        @include text($H14, 700, $WHITE);
        font-family: $SECONDARY-FONT;
        text-transform: uppercase;
        padding-top: 3px;
        &:hover {
            border-top: 3px solid $WHITE;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__item-anchor {
        @include text($H14, 400, $WHITE);
        &--mobile {
            color: $WHITE;
            text-transform: uppercase;
        }
    }
}