.quote-section {
    background-image: url(../assets/images/quote-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        padding: 120px 24px 200px;
    }
    &__main {
        background-color: $BG-SECTION-COLOR;
        @include flex;
    }
    &__column {
        flex-basis: 50%;
    }
    &__title {
        margin-bottom: 94px;
        @include text($H36, 700, $WHITE);
        font-family: $SECONDARY-FONT;
        line-height: 1.6;
        text-align: center;
        text-transform: none;
    }
    &__box {
        padding: 50px 60px;
        max-width: 552px;
    }
    &__image {
        background-image: url(../assets/images/quote.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}