.scroll {
    @include text($H14, 400,$WHITE);
    font-family: $BASE-FONT;
    text-align: center;
    letter-spacing: 2.8px;
    margin-bottom: 15px;
    @include flex-col(center, center);
    &__icon {
        display: block;
        text-align: center;
        justify-content: center;
        margin-bottom: 15px;
    }
}