.social {

    &__item {
        display: inline;
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
    &__icon {
        color: $WHITE;
        @include hover() {
            color: $DARKENBLUE;
        }
    }
}