.why-section {
    background-image: url(../assets/images/why-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        @include media() {
            padding: 120px 24px;
        }
        padding: 60px 24px;
    }
    &__main {
        @include media($screen-tablet-large) {
            @include flex(space-between);
        }
        @include flex(center, center);
        flex-wrap: wrap;
    }
    &__title {
        @include text($H36, 700, $WHITE);
        font-family: $SECONDARY-FONT;
        margin-bottom: 62px;
        text-transform: none;
        text-align: center;
        @include media() {
            text-align: left;
        }
    }
    &__box {
        opacity: 1;
        max-width: 569px;
        @include media($screen-tablet-large) {
            margin-right: 30px;
        }
    }
    &__description {
        letter-spacing: 1.6px;
    }
}