/* .double-section    &#8220; {
    &__interior {
        background-image: url(../assets/images/double-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 229px 0 100px;
    }
    &__exterior {
        background-image: url(../assets/images/double-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 329px 0 100px;
    }
} */