<section class="footer footer__container">
    <a name='contact us'></a>
    <div class="container">
        <a class="logo footer__logo" href="#home">Bhromaon</a>
        <h3 class="footer__subtitle">Safe Travel Anywhere</h3>
        <ul class="social">
            <li class="social__item">
                <a class="" href="https://www.facebook.com/">
                    <img class="social__icon" src="./assets/svg/facebook.svg" alt="facebook">
                </a>
            </li>
                <li class="social__item">
            <a class="" href="https://twitter.com/">
                    <img class="social__icon" src="./assets/svg/twitter.svg" alt="twitter">
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://linkedin.com/">
                    <img class="social__icon" src="./assets/svg/linkedin.svg" alt="linkedin">
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://youtube.com/">
                    <img class="social__icon" src="./assets/svg/youtube.svg" alt="youtube">
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://pinterest.com/">
                    <img class="social__icon" src="./assets/svg/pinterest.svg" alt="pinterest">
                </a>
                </li>
            </li>
        </ul>
    </div>
</section>