<a class="anchor" name='footer'></a>
<section class="footer">
    <div class="container footer__container">
        <a class="logo footer__logo" href="https://amonchik8.github.io/exam/">Bhromaon</a>
        <h3 class="footer__subtitle">Safe Travel Anywhere</h3>
        <ul class="social">
            <li class="social__item">
                <a class="" href="https://www.facebook.com/">
                    <i class="social__icon fa fa-facebook fa-spin" aria-hidden="true"></i>
                </a>
            </li>
                <li class="social__item">
            <a class="" href="https://twitter.com/">
                    <i class="social__icon fa fa-twitter fa-spin" aria-hidden="true"></i>
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://linkedin.com/">
                    <i class="social__icon fa fa-linkedin fa-spin" aria-hidden="true"></i>
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://youtube.com/">
                    <i class="social__icon fa fa-youtube-play fa-spin" aria-hidden="true"></i>
                </a>
                </li>
                <li class="social__item">
                <a class="" href="https://pinterest.com/">
                    <i class="social__icon fa fa-pinterest fa-spin" aria-hidden="true"></i>
                </a>
                </li>
            </li>
        </ul>
    </div>
</section>