<a class="anchor" name='why-section'></a>
<section class="why-section why-section__container">
    <div class="container">
        <div class="why-section__main">
        <div class="box why-section__box">
            <h2 class="title why-section__title">Why Choose Us</h2>
            <p class="why-section__description box__description">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee</p>
            <p class="why-section__description box__description">Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.</p>
            <button class="button box__button button--cayen">Explore Places </button>
        </div>
        <div class="image-box">
            <div class="image-box__item image-box__item--1">

            </div>
            <div class="image-box__item image-box__item--2">

            </div>
        </div>
        </div>
    </div>

</section>